body{
  background-color: greenyellow;
  color: white;
  margin: 0;
}
h2{
  font-size: 40px;
}
p{
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
  font-size: 1.5em;
  margin: 0;
}
img{
  width: 100px;
  height: 100px;
  margin: 0 0 15px 0;
  padding: 0;
}
.slider{
  position:relative;
  z-index: 1;
}
.element_div{
  display:flex;
  padding-left: 30px;
}
.city{
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
}

.forecast{
  vertical-align: top;
  display: inline-block;
  margin-top: 0;
  margin-left: 15px;
  padding-top: 0;
}